body{
    padding:0;
    margin:0;
}

.App{
    position:relative;
    width:100%;
    height:1000px;
    background-image: url('https://raw.githubusercontent.com/GeorgeNicola/react-component--wheels/master/src/assets/images/Background.jpg');
    background-size:cover;
}

.white-title{
    color:white;
    text-align:center;
    font-family:arial;
    margin-top:0;
    padding-top:20px;
}